div, img {
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 2em;
  animation: recolor 5s infinite;
}
#blue {
  background:blue;
}
#green {
  background:green;
}
  #orange {
  background:orange;
}
  #purple {
  background:purple;
}

  @keyframes recolor {
    to {background: #33ccff;}
  }

  @media (max-width 600px) {
    body {
      background:yellow;
    }
  }
