img{
   height:3em;
   width:3em;
   }
   a {
   text-decoration: underline:
   background: yellow;
   }

div{
  height: 5em;
  width: 5em;
  background: purple;
  display: inline-block;
  animate: recolor 5s infinite;
}
#purple{
   background: purple;
}

@media (max-width:600px){
   background:green;
}
}
