div {
  height: 10em;
  width: 10em;
  background: #000000;
  margin: 2em;
  display: inline-block;
}

#color1 {
  background:red;
}

#color2 {
  background: gold;
}

#color3 {
  background:green;
}

#color4 {
  background: gray;
}

  
  
  
