div {
  height: 100px;
  width: 100px;
  background: #000000;
}

#color1 {
  background:red;
}

#color2 {
  background: gold;
}

#color3 {
  background:green;
}

#color4 {
  background: gray;
}

  
  
  
