/*toggleclass content for jQuery */
.fall {
  background-image: url("http://images.pexels.com/photos/33109/fall-autum-red-season.jpg");
}

.text {
  color: #fff;
  background: #680200;
}

.content {
  background-image: url("http://images.pexels.com/photos/589840/pexels-photo-589840.jpeg");
}

.navigation {
  background: #680200;
  color: white;
} 
.links {
  color: #fff;
} 

.container {
  /*top right botton left*/
  padding: 5% 3% 5% 3%;
  font-family: 'Raleway'; 
} 

header {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 35px;
  color: #333;
  padding 30px 30px 5px 30px;
}

/*flexbox content required for media queries */
section {
  display: -webkit-flex;
  dispaly: flex;
}
  
/* Style the navigation menu */

nav {
  -webkit-flex:  20%;
  -ms-flex: 20%
  flex: 20%
  background: #ccc;
  padding:  10px;
  height: 1000px;
  overflow-y: hidden;
}

/*Style the list inside the menu */

nav ul {
  list-style-type: none;
  padding: 0%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*style the content */

article {
  -webkit-flex:  80%;
  -ms-flex: 80%
  flex: 80%
  background: #f1f1f1;
  padding:  10px;
}
