/*toggleclass content for jQuery */
.fall {
  background-image: url("http://images.pexels.com/photos/33109/fall-autum-red-season.jpg");
}

.text {
  color: #fff;
  background: #680200;
}

.content {
  background-image: url("http://images.pexels.com/photos/589840/pexels-photo-589840.jpeg");
}

.navigation {
  background: #680200;
  color: white;
} 
.links {
  color: #fff;
} 

.container {
  /*top right botton left*/
  padding: 5% 3% 5% 3%;
  font-family: 'Raleway'; 
} 

header {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 35px;
  color: #333;
  padding 30px 30px 5px 30px;
}

/*flexbox content required for media queries */
section {
  display: -webkit-flex;
  dispaly: flex;
}
  

