/*toggleclass content for jQuery */
.fall {
  background-image: url("http://images.pexels.com/photos/33109/fall-autum-red-season.jpg");
}

.text {
  color: #fff;
  background: #680200;
}

.content {
  background-image: url("http://images.pexels.com/photos/589840/pexels-photo-589840.jpeg");
}

.navigation {
  background: #680200;
  color: white;
} 
.links {
  color: #fff;
} 
