/*toggleClass content for jQery */
.fall {
  background-image: url("https://images.pexels.com/photos/40544/english-bulldog-bulldog-canine-dog-40544.jpeg");
}

.text {
  color: #F5B041
    background: brown
   ;
}
.content {
  background-image:  url("https://images.pexels.com/photos/103540/pexels-photo-103540.jpeg");
  color: #7D3C98;
}
.navigation {
  background:blue;
}
.links {
  color: #0B5345;
}

.container {
  /*top right bottom left*/
  padding: %5 3% 5% 3%;
  font-family: 'Raleway';
}

header {
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  font-size: 35px;
  color: #3333
    padding: 30px 30px 5px 30px;
}
/*flexbox content required for media queries*/
section {
  display: -webkit-flex;
  display: flex;
}
