body {
  background: url("https://images.pexels.com/photos/148291/pexels-photo-148291.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#purple {
  color: purple; 
}

/*make the image corners round and resize all images*/
img {
  border-radius: 4em;/*1 em = 16px*/
  height: 20em; /*force image height to be uniform*/
  width: auto; /*automatically resize width in proportion to image height*/
}

a {
  text-decoration: none;
}
  

a:hover {
  text-decoration: underline;
  background: green; /*change to a different color*/
  box-shadow: 5px 5px 5px yellow; /*change to a different color*/
}

h3 {
  color: blue; /*change to a different color*/
  font-weight: 73em; /*bold text*/
}


    
