/*toggleClass content for jQuery */
.fall {
  background-image:  url(https://images.pexels.com/photos/1251858/pexels-photo-1251858.jpeg")
    }
    .text {
    color:  #fff:
    background:  #680200;
    }

   .content {
    background-image:  url(:https://images.pexels.com/photos/1251858/pexels-photo-1251858.jpeg")
      color:  #fff;
}
.navigation {
  background:#6B0200;
  color: white;
}

.links {
  color: #fff;
}
. container 
  /*top right bottom left*/
  padding: 5% 3%  5% 3%;
font-family: 'Raleway';
}

header {
  font-family: "homemade Apple', cursive;
    text-align: center;
  font-size: 35px;
  color: #333;
  padding: 30pg 30px 5px 30px;
}
section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 20%;
  -ms-flex: 20%;
  flex: 20%
    background: #ccc;
  padding: 10px;
  height: 1000px;
  overflow-y: hidden;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:hover 
  text-decoration: underline;
}

article {
  -webkit-flex: 80%;
  -ms-flex: 80%;
  flex; 80%
  background-color: #f1f1f1;
  padding: 10px;
}
@media (max-width: 600px {
  section {
    -webkit-flex-directioin; column;
    flex-direction: column;
  }
  
  nav{
    height: 100%;
  }
  
  #animated {
    animate: 0;
  }
  
  hr {
    display: none;
  }
}
button:hover {
  transition: box-shadow 1s ease-in-out;
  box-shadow: 5px 5px 5px grey;
}

#animated {
  font-family: 'raleway';
  width:200px;
  padding: 5px;
  background: #6B0200;
  color: #fff;
  position: relative;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  animation:animated 5s 1;
  border-radius:5px;
  -webkit-border-radius:5px;
}

@keyframes animated
{
  0% {transform: rotate(0deg);left:0px;}
  25% {transform: rotate(20deg);left:0px;}
  50% {transform: rotate (0deg);left:500px;}
  55% {transform: rotate(0deg);left:500px;}
  70% {transform: rotate(0deg);left:500px;backgroud:#c95101; color:#fff;}
  100% {transform: rotate(-720deg);left:0px;}
}
  

    
