div, img {
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 2em;
  animation: recolor 5s infinite;
}

@keyframes recolor {
    to {background: yellow;}
}

#red {
  background: red;
}

#green {
  background: green;
}

#purple {
  background: purple;
}

#blue {
  background: blue;
}
