div, img {
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 1em;
  animation: recolor 5s inifinite;
  -webkit-animation: recolor 5s infinite;
}

#red {
  background: red;
}

#white {
  background: white;
}

#blue {
  background: blue;
}

#green {
  background: green;
}

@-webkit-keyframes recolor {
  to {
    background: purple;
  }
}

@keyframes recolor {
  to {
    background: purple;
  }
}

@media(max-width:600px) {
  body {background:brown;}
}
