.Spring{
  background-image:url("https://images.pexels.com/photos/46164/field-of-rapeseeds-oilseed-rape-blutenmeer-yellow-46164.jpeg");
}
.text{
  color:#990099;
    background:#ffe6ff;
}
.content{
  background-image:url("https://images.pexels.com/photos/36770/flower-lily-lilium-candidum-madonna-lily.jpg");
  color:#ffff66;
}
.navigation{
  background:#ffc2b3;
    color:white;
}
.links{
  color:#99ffff;
}
.container{
  padding 5% 3% 5% 3%;
  font-family:'Raleway';
}
header{
  font-family:'Homemade Apple', cursive;
  text-align:center;
  font-size:35px;
  color:#333;
  padding: 30px 30px 5px 30px;
}

section{
  display:-webkit-flex;
  display:flex;
}

nav{
  -webkit-flex:20%;
  -ms-flex:20%;
   flex: 20%;
   background:#ccc;
   padding:10px;
   height: 1000px;
   overflow-y: hidden;
}
nav ul{
  list-style-type:none;
  padding:0;
}

a{
  text-deoration:none;
}
a:hover{
  text-docoration:underline;
}

article{
  -webkit-flex:80%;
  -ms-flex:80%;
   flex: 80%;
   background-color: #f1f1f1;
   padding:10px;
}

  
  
 
    
