.Spring{
  background-image:url("https://images.pexels.com/photos/46164/field-of-rapeseeds-oilseed-rape-blutenmeer-yellow-46164.jpeg");
}
.text{
  color:#990099;
    background:#ffe6ff;
}
.content{
  background-image:url("https://images.pexels.com/photos/36770/flower-lily-lilium-candidum-madonna-lily.jpg");
  color:#ffff66;
}
.navigation{
  background:#ffc2b3;
    color:white;
}
.links{
  color:#99ffff;
}
