.Spring{
  background-image:url("https://as1.ftcdn.net/jpg/00/13/59/38/500_F_13593828_Gvh3zOtV1hqFUtK8I5xLc8gu0E2YsFoy.jpg");
}
.text{
  color:#990099;
    background:#ffe6ff;
}
.content{
  background-image:url("https://as1.ftcdn.net/jpg/00/80/41/66/500_F_80416643_nTG9s9vKKxml7TqBRtmWhNhnniH1gItJ.jpg");
  color:#ffff66;
}
.navigation{
  background:#ffc2b3;
    color:white;
}
.links{
  color:#99ffff;
}
.container{
  padding 5% 3% 5% 3%;
  font-family:'Raleway';
}
header{
  font-family:'Homemade Apple', cursive;
  text-align:center;
  font-size:35px;
  color:#333;
  padding: 20px 20px 5px 20px;
}

section{
  display:-webkit-flex;
  display:flex;
}

nav{
  -webkit-flex:20%;
  -ms-flex:20%;
   flex: 20%;
   background:#fae6ff;
   padding:10px;
   height: 1000px;
   overflow-y: hidden;
}
nav ul{
  list-style-type:none;
  padding:0;
}

a{
  text-deoration:none;
}
a:hover{
  text-docoration:underline;
}

article{
  -webkit-flex:80%;
  -ms-flex:80%;
   flex: 80%;
   background-color: #ffffcc;
   padding:10px;
}

@media (max-width: 600px){
  section{
    -webkit-flex-direction:column;
    flex-direction:column;
  }
  nav{
    height:100%;
  }
  #animated{
    animate:0;
  }
  hr{
    display:none;
  }
}
button:hover{
  transition:box-shadow 1s ease-in-out;
  box-shadow:5px 5px 5px grey;
}

#animated{
  font-family:'Raleway';
  width:#200px;
  padding:5px;
  background:#6B0200;
  color:#fff;
  position:relative;
  font-weight:bold;
  font-size:20px;
  padding:10px;
  animation:animated 5s 1;
  border-radius:5px;
  -webkit-border-radius:5px;
}

@keyframes animated
{
  0% {transform:rotate(0deg);left:0px;}
  25% {transform:rotate(20deg);left:0px;}
  50% {transform:rotate(0deg);left:500px;}
  55% {transform:rotate(0deg);left:500px;}
  70% {transform:rotate(0deg);left:500px; background:#c95101; color:#fff;}
  100% {transform:rotate(-720deg);left:0px;}
}
  
 
    
