.fall {
  background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg");
}
.text {
  color: #fff;
  background: #6B0200;
}
.content {
  background-image: url("https://images.pexels.com/photos/589840/pexels-photo-589840.jpeg");
  color: #fff;
}
.navigation {
  background:#6B0200;
  color: white;
}

.links {
  color: #fff;
}


    
