<div, img {
    height: 10em;
    width: 10em;
    display: inline-block;
    margin: 1em;
    animation: recolor 5s infinite;
}

#blue {
    background: blue;
    
#pink {
    background: pink;
    
 #black {
     background: black;
     
  #green {
      backgroun: green;
     
  
       
