div {
  height: 10em;
  width: 10em;
  display: inline-block;
  margin: 2em;
  animation: recolor 5s infinite;
}

#yellow {
  background: yellow;
}

#red {
  background: red;
}

#blue {
  background: blue;
}

#green {
  background: green;
}


