body {
  background: url("https://images.pexels.com/photos/66268/butterfly-blue-insect-blue-morphofalter-66268.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
  
#blue {
  color: #33D1FF; 
}

/*make the image corners round and resize all images*/
img {
  border-radius: 4em;/*1 em = 16px*/
  height: 20em; /*force image height to be uniform*/
  width: auto; /*automatically resize width in proportion to image height*/
  display:none;
}

a {
  text-decoration: none;
}
  

a:hover {
  text-decoration: underline;
  background: red; /*change to a different color*/
  box-shadow: 5px 5px 5px green; /*change to a different color*/
}

h3 {
  color: orange; /*change to a different color*/
  font-weight: 73em; /*bold text*/
}


    
