div, img{
    height:  10em;
    width:  10em;
    display:  inline-block;
}
#red {
    height:  10em;
    width:  10em;
    background: red;
    display:  inline-block;
    animate: recolor 5s 5;
}
#yellow {
    height:  10em;
    width:  10em;
    background: yellow;
    display:  inline-block;
    animate: recolor 5s infinite;
}
#custom-paragraph {
    background:green;
}
@keyframes recolor {
    to {background: black;}
}
a { 
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    backgroud: yellow;
}
    
