div, img{
    height:  10em;
    width:  10em;
    display:  inline-block;
    margin: 2em; 
    animation:  recolor 5s infinite
}
#red {
    background: red;
}
#yellow {
        background: yellow;
}
#blue {
        background: blue;
}
#purple {
        background: purple;
}
@keyframes recolor {
    to {background: #33ccff;}
}
